<!--base.html 這個好像是原始django生成的要廢棄這個網頁不再使用-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr" style="direction: ltr">

<head>
    <meta charset="utf-8"/>

    <title th:replace="~{::title}">TaskIT</title>

    <!-- 引入外部 CSS 和字体 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <link th:href="@{/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/pages/notification.css}" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <!-- 子模板自定义的 CSS -->
    <th:block th:include="~{::css}"></th:block>
</head>

<body id="kt_body" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
    <!-- 主体内容 -->
    <th:block th:include="~{::content}"></th:block>

    <!-- 全局配置脚本 -->
    <script th:inline="javascript">
        /* 全局 JS 配置 */
        var KTAppSettings = {/* 配置内容 */};
    </script>

    <!-- 引入外部 JS -->
    <script th:src="@{/plugins/global/plugins.bundle.js}"></script>
    <script th:src="@{/js/scripts.bundle.js}"></script>
    <script th:src="@{/js/pages/notification.js}"></script>

    <!-- 子模板自定义的 JS -->
    <th:block th:include="~{::js}"></th:block>

    <!-- 消息提示 -->
    <div>
        <ul th:if="${#messages.hasMessages()}" class="messages">
            <li th:each="message : ${#messages.allMessages()}" th:text="${message}"></li>
        </ul>
    </div>
</body>
</html>
