<!--login.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr" th:inline="javascript">
<head>
    <meta charset="utf-8"/>
    <title>TaskIT Login</title>

    <!-- 引入外部 CSS 檔案 -->
    <link th:href="@{/css/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/pages/login.css}" rel="stylesheet" type="text/css"/>
    <!-- 如果需要通知的樣式，可以保留下面這行 -->
    <!-- <link th:href="@{/css/pages/notification.css}" rel="stylesheet" type="text/css"/> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>
<body id="kt_body" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">

<!-- 主內容 -->
<div class="d-flex flex-column flex-root">
    <!-- 登錄部分 -->
    <div class="login login-2 d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
        <!-- 側邊部分 -->
        <div class="login-aside d-flex flex-row-auto position-relative overflow-hidden order-lg-1"
             th:style="'background-image: url(' + @{/media/svgs/loginimage.svg} + ');'">
            <!-- 側邊容器 -->
            <div class="d-flex flex-row-fluid flex-column justify-content-between py-9 px-7 py-lg-13 px-lg-35">
                <!-- 可以在這裡新增側邊內容 -->
            </div>
            <!-- 側邊容器結束 -->
        </div>
        <!-- 側邊部分結束 -->

        <!-- 內容部分 -->
        <div class="content d-flex flex-column w-100 order-lg-2">
            <!-- 標題 -->
            <div class="d-flex flex-column justify-content-center align-items-center text-center pt-md-5 pt-sm-5 px-lg-0 pt-5 px-7">
                <h3 class="display4 font-weight-bolder my-7 text-dark" style="color: #986923;">TaskIT</h3>
                <!-- 如果需要，可以在這裡新增圖片 -->
            </div>
            <!-- 標題結束 -->

            <!-- 表單容器 -->
            <div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">
                <!-- 登錄表單 -->
                <div class="login-form" th:if="${showSignupForm} != true">
                    <!-- 顯示註冊成功資訊 -->
                    <div th:if="${param.signupSuccess}" class="alert alert-success text-center">
                        Registration successful! Please log in.
                    </div>

                    <!-- 顯示登錄錯誤資訊 -->
                    <div th:if="${loginError}" class="alert alert-danger text-center">
                        <p th:text="${loginError}"></p>
                    </div>

                    <!-- 登錄表單 -->
                    <form class="form" novalidate="novalidate" id="kt_login_signin_form" method="post" th:action="@{/login}">
                        <!-- CSRF 令牌 -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <!-- 標題 -->
                        <div class="text-center pb-8">
                            <h2 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Welcome Back!</h2>
                        </div>
                        <!-- 標題結束 -->

                        <!-- 使用者名稱輸入 -->
                        <div class="form-group">
                            <label class="font-size-h6 font-weight-bolder text-dark">Username</label>
                            <input id="in-email"
                                   class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                                   type="text"
                                   name="username" autocomplete="off"/>
                        </div>

                        <!-- 密碼輸入 -->
                        <div class="form-group position-relative">
                            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>
                            <div style="display: flex; align-items: center;">
                                <input id="in-password"
                                       class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                                       type="password" name="password" autocomplete="off" style="flex-grow: 1;"/>
                                <i id="toggle-password" class="fa fa-eye" style="cursor: pointer; margin-left: -30px;"></i>
                            </div>
                        </div>

                        <!-- 登錄按鈕 -->
                        <div class="text-center pt-2">
                            <button id="kt_login_signin_submit"
                                    class="btn btn-dark font-weight-bolder font-size-h6 px-8 py-4 my-3">Login
                            </button>
                        </div>

                        <!-- 分隔符 -->
                        <div class="text-center my-7">
                            <span class="separator-or">OR</span>
                        </div>

                        <!-- 註冊按鈕 -->
                        <div class="text-center">
                            <button type="button" id="kt_login_signup"
                                    class="btn btn-light-primary font-weight-bolder px-8 py-4 my-3">Create an Account
                            </button>
                        </div>
                    </form>
                    <!-- 登錄表單結束 -->
                </div>
                <!-- 登錄表單結束 -->

                <!-- 登錄檔單 -->
                <div class="login-form pt-11" th:if="${showSignupForm}">
                    <!-- 顯示驗證錯誤資訊 -->
                    <div th:if="${signupError}" class="alert alert-danger">
                        <ul>
                            <li th:each="err : ${#fields.errors('username')}" th:text="${err}"></li>
                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                            <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                        </ul>
                    </div>

                    <!-- 登錄檔單 -->
                    <form class="form" novalidate="novalidate" id="kt_login_signup_form" method="post"
                          th:action="@{/signUp}" th:object="${user}">
                        <!-- CSRF 令牌 -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <!-- 標題 -->
                        <div class="text-center pb-8">
                            <h2 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Sign Up</h2>
                            <p class="text-muted font-weight-bold font-size-h4">Enter your details to create your account</p>
                        </div>

                        <!-- 使用者名稱輸入 -->
                        <div class="form-group">
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                                   type="text" placeholder="Username" name="username" autocomplete="off" th:value="*{username}"/>
                            <!-- 顯示使用者名稱欄位的錯誤資訊 -->
                            <div th:if="${#fields.hasErrors('username')}" class="text-danger">
                                <small th:text="${#fields.errors('username')}"></small>
                            </div>
                        </div>

                        <!-- 信箱輸入 -->
                        <div class="form-group">
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                                   type="email" placeholder="Email" name="email" autocomplete="off" th:value="*{email}"/>
                            <!-- 顯示信箱欄位的錯誤資訊 -->
                            <div th:if="${#fields.hasErrors('email')}" class="text-danger">
                                <small th:text="${#fields.errors('email')}"></small>
                            </div>
                        </div>

                        <!-- 密碼輸入 -->
                        <div class="form-group">
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                                   type="password" placeholder="Password" name="password" autocomplete="off"/>
                            <!-- 顯示密碼欄位的錯誤資訊 -->
                            <div th:if="${#fields.hasErrors('password')}" class="text-danger">
                                <small th:text="${#fields.errors('password')}"></small>
                            </div>
                        </div>

                        <!-- 確認密碼輸入 -->
                        <div class="form-group">
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                                   type="password" placeholder="Confirm password" name="cpassword" autocomplete="off"/>
                        </div>

                        <!-- 提交和取消按鈕 -->
                        <div class="form-group d-flex flex-wrap flex-center pb-lg-0 pb-3">
                            <button type="submit" id="kt_login_signup_submit"
                                    class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mx-4">
                                Submit
                            </button>
                            <button type="button" id="kt_login_signup_cancel"
                                    class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mx-4">
                                Cancel
                            </button>
                        </div>
                    </form>
                    <!-- 登錄檔單結束 -->
                </div>
                <!-- 登錄檔單結束 -->
            </div>
            <!-- 表單容器結束 -->
        </div>
        <!-- 內容部分結束 -->
    </div>
    <!-- 登錄部分結束 -->
</div>
<!-- 主內容結束 -->

<!-- 引入外部 JS 檔案 -->
<script th:src="@{/js/pages/login.js}" th:inline="javascript"></script>

</body>
</html>